:root {
    /*** Фон и текст ***/

    /** Светлая тема **/

    /* Фон */
    --background-light: #f4f0ff;
    --background-light-alt: #e8eaf6;

    /* Текст */
    --foreground-light: #2e2e3a;
    --foreground-light-alt: #5a5a6e;

    /** Тёмная тема **/

    /* Фон */
    --background-dark: #1a1a2e;
    --background-dark-alt: #2e324d;

    /* Текст */
    --foreground-dark: #e0e4ff;
    --foreground-dark-alt: #a0a4c0;

    /*** Акцентные цвета ***/

    --primary: #6329aa;
    --primary-alt: #7a4fc2;

    --secondary: #3e7adc;
    --secondary-alt: #5a8fe6;

    /*** Цвета статуса ***/

    --success: #6ac46a;
    --warning: #ffd166;
    --error: #ff6b6b;
}
