@import "shared_global.css";

.viewport {
    display: grid;
    place-items: center;
}

button {
    border: none;
    border-radius: 1vmax;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    width: 20vw;
    height: 8vh;
    font-size: 200%;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, var(--primary-alt), var(--secondary-alt));
}

input[type="text"],
input[type="password"],
input[type="date"] {
    background-color: var(--background-dark);
    border: none;
    width: 20vw;
    height: 4vh;
    font-size: 100%;
    text-align: center;
    border-radius: 1vh;
    box-shadow: inset 0px 0px 20px #00000022;
}

input[type="checkbox"] {
    width: 1.5vh;
    height: 1.5vh;
}


a {
    color: var(--secondary-alt);
}

.login-window {
    margin: 0 auto;
    width: 25vw;
    height: fit-content;
    padding: 5vh 0;
    background: linear-gradient(45deg, var(--background-dark), var(--background-dark-alt));
    display: grid;
    place-items: center;
    align-content: center;
    border-radius: 1em;
    box-shadow: 0px 0px 30px #00000044;
}

.login-contents {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.field > * {
    margin-top: 1vmin;
}

.no-account {
    font-size: 1.5vh;
    opacity: 0.75;
}

.checkbox {
    font-size: 1.5vh;
}

img {
    filter: drop-shadow(0px 0px 15px #00000099);
    height: 10vh;
}

.error-container {
    width: 20vw;
    background-color: #ff6b6b22;
    text-align: center;
    margin-top: 2vh;
    border-radius: 1vmax;
}
.error-message {
    padding: 0 2vw;
    color: var(--error);
    font-size: .8em;
}

